aiohappyeyeballs
aiohttp
aiosignal
alembic
altair
annotated-types
anyio
async-timeout
attrs
babel
backoff
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorlog
contourpy
courlan
cycler
datasets
dateparser
deprecation==2.1.0
dill
distro
dnspython
dspy-ai
email_validator
entrypoints
exceptiongroup
extra-streamlit-components==0.1.60
Faker
favicon
filelock
fonttools
frozenlist
fsspec
gitdb
GitPython
grpcio
grpcio-tools
h11
h2
hpack
htbuilder
htmldate
httpcore
httpx
huggingface-hub
hyperframe
idna
importlib_metadata
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jusText
kamiwaza
kiwisolver
langchain-core
langchain-huggingface
langchain-qdrant
langchain-text-splitters
langsmith
lxml
lxml_html_clean
Mako
Markdown
markdown-it-py
markdownlit
MarkupSafe
matplotlib
mdurl
more-itertools
mpmath
multidict
multiprocess
narwhals
networkx
numpy
openai
optuna
orjson
packaging
pandas
pillow
plotly
portalocker
prometheus_client
propcache
protobuf
pyarrow
pyarrow-hotfix
pydantic
pydantic_core
pydeck
Pygments
pymdown-extensions
pyparsing
python-dateutil
pytz
PyYAML
qdrant-client
referencing
regex
requests
requests-toolbelt
rich
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
six
smmap
sniffio
soupsieve
SQLAlchemy
st-annotated-text
st-pages==0.4.5
st-theme
streamlit==1.31.1
streamlit-camera-input-live
streamlit-card
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-float
streamlit-image-coordinates
streamlit-keyup
streamlit-option-menu
streamlit-toggle-switch
streamlit-vertical-slider
structlog
sympy
tenacity
threadpoolctl
tld
tokenizers
toml
torch
tornado
tqdm
trafilatura
transformers
typing_extensions
tzdata
tzlocal
ujson
Unidecode
urllib3
validators
wikipedia
xxhash
yarl
zipp
